<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Quantidade</th>
  </tr>
  </thead>
  <tbody>
  <%# O render de um partial ja faz o foreach, podemos passar a coleção desde que o tipo do objeto seja o mesmo do html
  <%# render partial: "produto" , collection: @produto%>

  <%= render partial: "produto", collection: @produtos %>
  </tbody>
</table>