<html>
<body>
<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>
<!--
nav_bar é da gem twitter-bootstrap-rails
root_url é definido com  rake routes
-->
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Quantidade</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%# podemos renderizar a partial declarada apenas passando a collection%>
  <%# render partial: "produto" %>
  <%= render @produtos %>
  </tbody>
</table>
<%= link_to "Criar novo produto", new_produto_path %>
</body>
</html>